<h1>Add a new photo</h1>
<form action="http://localhost:3000/create_photo">
  <label for="url">Image URL
  </label>
    <input type='text' id='url' name="source">

    <label for="caption">The Caption
    </label>
  <input type='text' id='caption' name="caption">

  <button type='submit'>Create Photo</button>
  

</form>
